<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="chatVisit">

	<select id="selectVistTime" resultType="java.sql.Timestamp">
		select visit_time from chat_visit
		where member_id = #{memberId} and room_no = #{roomNo} 
	</select>
	
	<insert id="insertVisitTime">
		insert into chat_visit(member_id, room_no)
		values(#{memberId}, #{roomNo})
	</insert>
	
	<update id="updateVisitTime">
		update chat_visit set visit_time = sysdate
		where member_id = #{memberId} and room_no = #{roomNo} 
	</update>
	
</mapper>