<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="entry">
	
	<select id="sequence" resultType="int">
		select entry_seq.nextval from dual
	</select>
	
	<insert id="insert">
		insert into entry(entry_no, match_no, team_no, member_id, team_type)
		values(#{entryNo}, #{matchNo}, #{teamNo}, #{memberId}, #{teamType})
	</insert>
	
	<select id="selectList" resultType="EntryDto">
		select * from entry
		where member_id = #{member_id}
	</select>
	
	<select id="selectListMatch" resultType="EntryDto">
		select * from entry
		where match_no = #{match_no}
		order by team_type desc
	</select>
	
</mapper>