<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- ↑ mapper 문법을 인식할 수 있는 문법 정보 import -->   
 
 <!-- mapper에는 SQL 구문을 작성하고 namespace는 구분을 위한 별칭 -->    
 <mapper namespace="img">
 	<!-- 시퀀스 -->
 	<select id="sequence" resultType="int">
 		select img_seq.nextval from dual
 	</select>
 	
 	<!-- 이미지 등록 -->
 	<insert id="imgInsert">
 		insert into img(img_no,img_name,img_type,img_size) 
		values(#{imgNo},#{imgName},#{imgType},#{imgSize})
 	</insert>
 	
 	<!-- 이미지 상세조회 -->
 	<select id="imgSelectOne" resultType="ImgDto">
 		select*from img where img_no=#{imgNo}
 	</select>
 	
 	<!-- 이미지 수정 -->
 	<update id="imgUpdate">
 		update img 
 		set img_name=#{imgName}, img_type=#{imgType}, img_size=#{imgSize} 
 		where img_no=#{imgNo}
 	</update>
 	
 </mapper>