<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="teamMember">
	  
	  <!-- 시퀀스 번호 발행  -->
  	<select id="sequence" resultType="int">
  			select team_member_seq.nextval from dual
  	</select>
 
 	<!-- 팀 가입 -->
	<insert id="insert" parameterType="TeamMemberDto" >
  		insert into team_member(
  			team_member_no, team_no, member_id, team_member_level)
  		values (
  			team_member_seq.nextval, #{teamNo}, #{memberId}, DEFAULT )
   	</insert>
   
   	<!-- 팀가입(회원번호 시퀀스 미리 발행 후 사용) -->
   	<insert id="insert2" parameterType="TeamMemberDto" >
  		insert into team_member(
  			team_member_no, team_no, member_id, team_member_level)
  		values (
  			team_member_seq.nextval, #{teamNo}, #{memberId}, DEFAULT )
   	</insert>
   
   	<!-- 팀 회원번호로 검색 -->
   	<select id="findTeamMember" parameterType="int" resultType="TeamMemberDto">
   		select * from team_member where team_member_no = #{teamMemberNo}
   	</select>
   
   	<!-- 일반 회원 탈퇴 메소드 -->
   	<delete id="deleteTeamMember" parameterType="int">
   		delete team_member where team_member_no=#{teamMemberNo} and team_member_level='일반회원'
   	</delete>
   	
   	<!-- Select 특정 회원이 속한 모든 팀 조회 -->
	<select id="selectTeamByMemberId" parameterType="string" resultType="java.lang.Integer">
<!-- 	    SELECT * FROM team_member WHERE member_id = #{memberId, jdbcType=VARCHAR} -->
		SELECT team_no FROM team_member WHERE member_id = #{memberId}
	</select>
	
	  <!-- Select 팀원 수 조회 -->
	  <select id="selectTeamMemberCount" parameterType="int" resultType="int">
	    SELECT COUNT(*) FROM team_member WHERE team_no = #{teamNo}
	  </select>
   
   
   
   	<!-- 팀가입 시 팀 회원수 +1 증가 -->
<!--    	<update id="update" parameterType="TeamMemberDto"> -->
<!--    		update team -->
<!--    			set -->
<!--    		team_member = team_head + 1 where team_no = #{teamNo} -->
<!--    	</update>  -->
   
   	
   
   	<!-- 소모임 회원수 카운트(ahzitNo로 count한 결과값을 ahzit_head칼럼에 저장) -->
<!--   	<update id="updateTeamHead2" parameterType="int"> -->
<!--    		update team set team_head=(select count(*) from team_member where member_team_no = #{teamNo}) where team_no=#{teamNo} -->
<!--    	</update> -->
   
   
	<!-- 회원 번호로 회원 정보 조회 -->
<!-- 	<select id = "selectOneMember" parameterType = "map" resultType = "TeamMemberInfoVO"> -->
<!-- 		select * from team_member am left outer join member_attachment aa on am.member_no = aa.member_origin_no where am.member_no = #{memberNo} and am.member_team_no = #{TeamNo} -->
<!-- 	</select> -->
		   <!-- 일반 회원 탈퇴 메소드 -->
   	<delete id="deleteCommonMember" parameterType="int">
   		delete ahzit_member where member_no=#{memberNo} and member_grade='일반'
   	</delete>
   
	<!-- 회원 번호로 회원 정보 조회 -->
	<select id = "selectOneMember" parameterType = "map" resultType = "AhzitMemberInfoVO">
		select * from ahzit_member am left outer join member_attachment aa on am.member_no = aa.member_origin_no where am.member_no = #{memberNo} and am.member_ahzit_no = #{memberAhzitNo}
	</select>

</mapper>