<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="team">
	<!-- 시퀀스 발행 -->
  	<select id="sequence" resultType="int">
  		select team_seq.nextval from dual
  	</select>

    <!-- Insert 팀생성 -->
    <insert id="add" parameterType="TeamDto">
        INSERT INTO team(team_no, team_name, team_day, team_time, team_city, team_location, team_gender, team_age, team_level)
        VALUES(team_seq.nextval, #{teamName}, #{teamDay}, #{teamTime}, #{teamCity}, #{teamLocation}, #{teamGender}, #{teamAge}, #{teamLevel})
    </insert>
	 
    <!-- Select 팀 전체조회-->
	<select id="selectList" resultType="TeamDto">
    	SELECT * FROM team order by team_no asc
	</select>

    <!-- Select 상세조회 -->
    <select id="selecOne" resultType="TeamDto" parameterType="int" >
        SELECT * FROM team WHERE team_no = #{teamNo}
    </select>

    <!-- Update 전체 수정 -->
    <update id="edit" parameterType="TeamDto">
        UPDATE team SET
            team_name = #{teamName},
            team_day = #{teamDay},
            team_time = #{teamTime},
            team_city = #{teamCity},
            team_location = #{teamLocation},
            team_gender = #{teamGender},
            team_age = #{teamAge},
            team_level = #{teamLevel},
            team_win = #{teamWin},
            team_lose = #{teamLose},
<!--             team_schedule = #{teamSchedule} -->
        WHERE team_no = #{teamNo}
    </update>

    <!-- Delete 팀삭제 -->
    <delete id="remove" parameterType="int">
        DELETE FROM team WHERE teamNo = #{teamNo}
    </delete>
    
    <!--  팀매칭이 잡혔을 경우 스케쥴 업데이트 -->
<!-- 	<update id="schedule" parameterType="TeamDto"> -->
<!--     	UPDATE team SET -->
<!--         team_schedule = #{teamSchedule} -->
<!--     	WHERE team_no = #{teamNo} -->
<!-- 	</update> -->
	
	<!--  전적 기록 (승패) 팀전적 수정 -->
	<update id="record" parameterType="TeamDto">
    	UPDATE team SET
        team_win = #{teamWin},
        team_lose = #{teamLose}
    	WHERE team_no = #{teamNo}
</update>
</mapper>